*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Work Sans', sans-serif;
}

a{
    text-decoration: none;

}
.header{
    width: 100%;
    background-color: #ffffff;
    border-bottom: 2px solid #d4c6c6;
}
.container {
    width: 95%;
}

/* start header */
.header .logo img{
    width: 200px;
}
.header .container{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.header .container ul{
    display: flex;
    margin: 0 10px;

}
.header .container ul li{
    margin: 0 10px ;
}

.header .container ul li a{
    color: black;
    text-transform: uppercase;
    text-decoration: none;
}

.header .container ul li a::after{
    content: '';
    width:0;
    height: 2px;
    background-color: #ff2cff;
    display: block;
    margin: auto;
    transition: 0.3s;
}

.header .container ul li:hover a::after{
    width: 100%;
    
}
.header .container ul li:last-child{
    /* border: 2px solid;
    height: 28px;
    width: 28px;
    border-radius: 50%; */
}

.header .container ul li:last-child i{
    /* line-height: 28px;
    padding-left: 6px; */
}
/* end header */


/* start slide */

.slide {
    background-image: url(../img/back6-remove.png);
    background-position: right;
    background-position-x: 120px;
    background-size: cover;
    width: 100%;
    height: calc(100vh - 82px);
    background-color: #f4e3db;
    
}

.slide .overlay{
    /* position: absolute;
    background-color: #de53894a;
    width: 100%;
    height: calc(100vh - 80px); */
}

.slide .des {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 82px);
    justify-content: center;
    width: 407px;
    align-items: center;
}

.slide .des p{
    color: #4a4b4d;
    font-size: 32px;
    letter-spacing: 5px;
    margin-bottom: 21px;
    width: 321px;
}

.slide .des a {
    font-size: 19px;
    background-color: #de5389;
    padding: 10px 20px;
    color: #ffffff;
}
/* end slide */